.chart-header {
    min-height: 120px;
    margin: 1px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    align-content: center;
    /*overflow-x: scroll;*/
}

.chart-header small {
    position: absolute;
    z-index: 9;
}

.chart-header__group-buttons {
    text-align: center;
    padding-top: 15px;
}

.chart-presenter__tab-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.songs-per-day {
    /*height: 45px;*/
    /*width: 100%;*/
    text-align: center;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid ghostwhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.songs-per-day--err {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.songs-per-day--good {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.songs-per-day__label input {
    text-align: center;
    margin-left: 5px;
}

.songs-per-day__counters {
    display: flex;
    flex-direction: column;
}

.chart-header__left_dock {
    /*width: 200px;*/
    text-align: left;
}

.pick-your-date {
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #faebcc;
    border-radius: 3px;
}

.pick-your-date__button {
    margin-left: 5px;
    background-color: white;
    border: 1px solid lightgray;
}

.update-info {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

.update-info__time-frame {
    min-width: 300px;
}

.update-info__time-frame > span {
    padding-right: 5px;
    padding-left: 3px;
}

.update-info__time-frame > small {
    padding-right: 5px;
    padding-left: 3px;
}

.update-info__span {
    color: dodgerblue;
    margin-left: 10px;
}

.chart-table__checkbox {
    position: relative;
    display: block;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}

.less_days {
    color: blue;
    margin-left: 5px;
}

.more_days {
    color: red;
    margin-left: 5px;
}

.chart-table {

}

.chart-row {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 2px 2px 5px;
    padding-top: 3px;
    justify-content: flex-end;
}

.chart-row__user-info {
    display: flex;
    align-items: center;
    flex-grow: 2;
}

.chart-row__user-info img {
    max-height: 50px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.chart-row__user-info__name {
    display: flex;
    max-width: 100px;
    word-wrap: break-word;
    text-align: center;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 2px;
    align-items: center;
    justify-content: center;
}

.chart-row__user-info__name span {
    padding-left: 5px;
}

.chart-row__link {
    display: flex;
    flex-grow: 2;
    min-width: 200px;
    border: 2px solid lightblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 3px;
}

.chart-row__link svg {
    margin-left: 5px;
    margin-right: 5px;
}

.chart-row__post-info {
    border-left: 2px solid lightblue;
    padding: 5px;
}

.chart-row__time-info {
    border-left: 2px solid lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.chart-row__time-info span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-one {
    margin: 5px;
    display: flex;
    align-items: center;
    font-weight: unset;
}

.checkbox-one__input {
    margin-right: 5px;
}

@media screen and (min-width: 375px) {
    .chart-row__user-info__name {
        max-width: none;
    }
}

@media screen and (min-width: 700px) {
    .chart-header {
        /*height: 120px;*/
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
    }

    .chart-row__user-info {
        max-width: 250px;
    }

    .update-info {
        flex-flow: row;
    }

    .chart-row__link {
        min-width: 300px;
        max-width: 400px;

    }
    .chart-row {
        justify-content: flex-start;
    }

    .chart-table {
        min-width: 700px;
        align-self: stretch;
    }

    .chart-presenter__tab-content {
        min-width: 700px;
        align-items: center;
    }

    .chart-row__user-info__name {
        min-width: 100px;
    }

}
