{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": ["json", "import"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "complexity": [
      "warn",
      10
    ],
    "camelcase": "off",
    "no-console": ["warn", {
        "allow": ["info", "warn", "error", "time", "timeEnd"]
    }],
    "no-param-reassign": "off",
    "no-unused-expressions": ["error",{ "allowShortCircuit": true }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "**/*.story.jsx"
      ],
      "optionalDependencies": false
    }],
    "jsx-a11y/no-noninteractive-tabindex": "warn",
    "jsx-a11y/media-has-caption": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
