
.btn2 {
    font-weight: bold;
}

.summary {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(226, 231, 231, 0.58);
    padding-bottom: 20px;
    padding-left: 5px;
}
.summary ::placeholder {
    color: lightgray;
}
.summary__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary__header h3 {
    padding-right: 5px;
}

.summary__textarea {
    padding-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100px;
    resize: none;
}

.west-letter {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.west-letter__beta {
    padding: 5px;
    background-color: beige;
    border: 1px double firebrick;
    text-align: center;
}
.west-letter__beta h1 {
    color: firebrick;
}

.playlists_view_conteiner {
    height: 200px;
    border-top: solid 1px black;
}

.playlists_view {
    width: 230px;
    /*height: 190px;*/
    float: left;
}

.playlists_view img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.playlists_view select {
    height: 150px;
}

select:disabled {
    background-color: rgb(235, 235, 228);
    color: black;
}

#chart_tabs i::before {
    padding-right: 3px;
}

.policy {
    text-align: left;
}

.policy h3 {
    text-align: center;
    color: cadetblue;
}

.policy h1 {
    text-align: center;
    margin-top: 20px;
    color: blue;
    margin-bottom: 20px
}

.spotify_sumary {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
}

.spotify_sumary span {
    color: darkgreen;
    font-size: medium;
}

@media screen {

}
