.track_view {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 1px 1px 1px 5px;
    padding: 5px;
    background-color: snow;
}

.track_view input {
    padding-right: 5px;
    text-align: center;
}

.pick-your-date__date-picker {
    display: flex;
    padding-left: 1px;
    padding-right: 1px;
}

.error_bg {
    background-color: #ff0e10;
}

.btn2 {
    font-weight: bold;
}

.summary {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ced3d3;
    padding-bottom: 20px;
}

.chart-header {
    height: 120px;
    margin: 1px;
    padding: 2px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /*overflow-x: scroll;*/
}

.chart-header small {
    position: absolute;
    z-index: 9;
}

.chartButtons {
    /*float: left;*/
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
    /*height: 100px;*/
}

.songs-per-day {
    height: 45px;
    width: 100%;
    text-align: center;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid ghostwhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.songs-per-day--err {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.songs-per-day--good {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.songs-per-day__label input {
    text-align: center;
    margin-left: 5px;
}

.songs-per-day__counters {
    display: flex;
    flex-direction: column;
}

.dock1 {
    /*float: left;*/
    /*height: 100px;*/
    width: 200px;
    text-align: left;
}

.pick-your-date {
    height: 70px;
    width: inherit;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #faebcc;
    border-radius: 3px;
}

.pick-your-date__button {
    margin-left: 5px;
    background-color: white;
    border: 1px solid lightgray;
}

.playlists_view_conteiner {
    height: 200px;
    border-top: solid 1px black;
}

.playlists_view {
    width: 230px;
    /*height: 190px;*/
    float: left;
}

.playlists_view img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.playlists_view select {
    height: 150px;
}

#destination_panel {
    border: 1px solid black;
    background-color: white;
    width: 300px;
    height: 250px;
    float: left;
}

#from_playlist {
    background-color: white;
    border: 1px solid black;
    width: 700px;
    height: 250px;
    float: left;
}

#play_list_is_private {
    margin-left: 10px;
    padding-left: 5px;
}

.artist_name {
    padding-left: 10px;
    color: green;
}

.less_days {
    color: blue;
    margin-left: 5px;
}

.more_days {
    color: red;
    margin-left: 5px;
}

select:disabled {
    background-color: rgb(235, 235, 228);
    color: black;
}

.write_your_mind {
    width: auto;
    min-width: 400px;
    height: 100px;
    resize: none;
}

#chart_tabs i::before {
    padding-right: 3px;
}

.update-info {
    display: flex;
    justify-content: flex-start;
}

.update-info > span {
    padding-right: 5px;
    padding-left: 3px;
}
.update-info > small {
    padding-right: 5px;
    padding-left: 3px;
}

.beta {
    color: firebrick;
    background-color: beige;
    border: 1px double firebrick;
}

.list_sum_chart {
    font-size: 12px;
}

.policy {
    text-align: left;
}

.policy h3 {
    text-align: center;
    color: cadetblue;
}

.policy h1 {
    text-align: center;
    margin-top: 20px;
    color: blue;
    margin-bottom: 20px
}
