.filter-option {
    padding: 3px;
    margin-top: unset;
    margin-bottom: unset;
}

.filter-option__days {
    padding-left: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    text-align: right;
    max-width: 30px;
    border: 1px solid lightgray;
}

.filter_panel {
    display: flex;
    flex-direction: column;
    height: calc(100% - 5px);
    flex-basis: 100px;
    align-items: baseline;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-around;
    padding-top: 5px;
    border: 1px solid #bce8f1;
    padding-left: 8px;
    font-size: smaller;
    /*overflow-y: scroll;*/
    border-radius: 3px;
    max-height: 100px;
}

@media screen and (min-width: 470px) {
    .filter_panel {
        min-width: 320px;
    }
}

@media screen and (min-width: 700px) {
    .filter-option__days {
        max-width: 50px;
        min-width: 20px;
        border-color: revert;
    }

    .filter_panel {
        max-width: 400px;
    }
}
