.App {
    text-align: center;
    min-width: 760px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.App-body {
    padding: 5px 5px;
    margin: 0 10px 50px;
    /*background-color: #eee;*/
    /*float: left;*/
    /*width: 80%;*/
}

.btn {
    /*margin-bottom: 10px;*/
    /*margin-top: 5px;*/
}
.console-log{
    border: 5px dashed red;
    background-color: indianred;
    margin: 10px;
    padding: 0 5px 5px 5px;
}
.checkbox1 {
    position: relative;
    display: block;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}

.checkbox1 input[type=checkbox]:checked {
    background-color: green;
}

#updateDate {
    color: red;
    margin-left: 10px;
}

.formArea {
    width: 240px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}

.label {
    margin: 0;
    padding: .6em .9em .5em;
}

.likes {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #337ab7;
    border-radius: 10px;
}

.elements_count {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #b7001e;
    border-radius: 10px;
}

.popover {
    max-width: 600px;
}
.datePiker input[type="text"]{
    padding: 0;
}
.datePiker input[type="text"]:disabled {
    background-color: rgb(235, 235, 228);
}

.react-datepicker__input-container input {
    width: 80px;
}

#d_until {
    margin-left: 50px;
}

.spotify_sumary {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
}

.spotify_sumary span {
    color: darkgreen;
    font-size: medium;
}

.modal {
    top: 300px
}

