body {
    margin: 0;
    padding: 0;
    height: inherit;
    font-family: sans-serif;
}
html{
    height: 100%;
}
#root{
    height: inherit;
}
.footer {
    color: #a9a9a9;
    font-size: smaller;
    justify-self: self-end;
    clear: both;
    text-align: center;
    margin-bottom: 10px;
}

.App {
    text-align: center;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-items: flex-start;
}

.wcs_header {
    display: none;
}

@media screen and (min-width: 640px) {
    .wcs_header {
        display: block;
        height: 180px;
        color: white;
        background: #898e8e no-repeat center;
        margin-bottom: 10px;
    }
    .App {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }
}
